# Weather API
WEATHER_API_TOKEN="Bearer YOUR_API_TOKEN"

# AWS S3
AWS_BUCKET_NAME="your-s3-bucket-name"

# AWS Credentials
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_SESSION_TOKEN="YOUR_AWS_SESSION_TOKEN"